/* Import Font Poppins - Enrio Hernanda */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* End Import Font Poppins - Enrio Hernanda */

/* CSS background pada body - Enrio Hernanda */
body {
  background-image: url('./asset/bg_masuk_daftar.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
}
/* End CSS Background - Enrio Hernanda */

/* CSS header - Enrio Hernanda */
header {
  margin-top: 24px;
  margin-left: 29px;
  width: 150px;
  height: 43px;
}
/* End CSS header - Enrio Hernanda */

/* CSS kelas form - Enrio Hernanda */
.isi_form {
  position: absolute;
  top: 100px;
  left: 100px;
}
/* End CSS kelas form - Enrio Hernanda */

/* CSS heading form - Enrio Hernanda */
h2 {
  color: #4e4949;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
/* End CSS heading form - Enrio Hernanda */

/* CSS form - Enrio Hernanda */
form {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}
/* CSS form - Enrio Hernanda */

/* CSS label - Enrio Hernanda */
label {
  color: #4e4949;
  margin-bottom: 10px;
  font-size: 16px;
}
/* End CSS label - Enrio Hernanda */

/* CSS input - Enrio Hernanda */
input[type='name'],
input[type='email'],
input[type='password'] {
  padding: 10px;
  margin-bottom: 20px;
  width: 368px;
  height: 23px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
/* End CSS input - Enrio Hernanda */

/* CSS button login - Enrio Hernanda */
button[type='submit'] {
  background-color: #eda145;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
}
/* End CSS button login - Enrio Hernanda */

/* CSS hover button login - Enrio Hernanda */
button[type='submit']:hover {
  background-color: #6b52a4;
}
/* End CSS hover button login - Enrio Hernanda */

/* CSS sudah punya akun - Enrio Hernanda */
#txt_sdhAkun {
  font-size: 12px;
  color: #4e4949;
  margin-left: 90px;
}
/* End CSS sudah punya akun - Enrio Hernanda */

/* CSS untuk pindah ke halaman login - Enrio Hernanda */
.login-link {
  font-size: 12px;
  color: #eda145;
  text-decoration: none;
}
/* End CSS untuk pindah ke halaman login - Enrio Hernanda */

/* CSS hover login link - Enrio Hernanda */
.login-link :hover {
  color: #6b52a4;
}
/* End CSS hover login link - Enrio Hernanda */

/* CSS button skip now - Enrio Hernanda */
.btn_skip {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #4e4949;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  padding: 5px 10px;
}
/* End CSS button skip now Enrio Hernanda */

/* CSS hover button skip now - Enrio Hernanda */
.btn_skip :hover {
  color: white;
}
/* End CSS hover button skip now - Enrio Hernanda */
