* {
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #f7f7f7;
  --secondary-color: #eda145;
  --navbar-color-text: #fafafa;
  --navbar-hover-color-text: #6e4abf;
  --color-text: #4e4949;
  --color-search-bar: #908b8b;
  --color-heading-text: #383434;
}

/* Navbar CSS */
.navbar {
  position: fixed;
  padding: 15px 0 15px 0;
  width: 100%;
  background-color: var(--secondary-color);
}

.navbar .nav-link a {
  padding: 5px 10px 5px 10px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: var(--navbar-color-text);
}

.navbar .nav-link a:hover {
  color: #8e6ddc;
}

.navbar .nav-link .active {
  color: var(--navbar-hover-color-text);
}

.btn_masuk {
  width: 105px;
  height: 55px;
  margin-right: 10px;
  background: transparent;
  border: solid 2px #f7f7f7;
  color: var(--navbar-color-text);
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
}

.btn_masuk:hover {
  background-color: var(--navbar-color-text);
  border: solid 2px white;
  color: var(--secondary-color);
}
/* End Navbar CSS */

/* Konten beranda CSS */
.konten-beranda {
  margin: 25px auto;
  max-width: 1220px;
  width: 100%;
  padding: 20px;
  background: white;
  text-align: center;
  border: solid 1px rgb(223, 223, 223);
  border-radius: 30px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.konten-beranda img {
  max-width: 100%;
  height: auto;
  float: left;
  margin-top: 10px;
}

.konten-beranda h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-heading-text);
  margin-top: 30px;
  text-align: left;
}

.konten-beranda p {
  font-size: 1.3rem;
  color: var(--color-text);
  font-weight: 500;
  text-align: left;
  margin-top: 1rem;
}

/* Konten button like & save */
.btn_ls {
  justify-content: flex-end;
  margin-left: 700px;
}

.btn_ls button {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 20px;
  width: 64px;
  height: 50px;
}

.btn_ls button:hover {
  background-color: var(--secondary-color);
}

.btn_ls button img {
  margin-left: 2px;
  margin-top: 0px;
}
/* End Konten button like & save */

/* End Konten beranda CSS */

/* CSS Card Pembuat Website */
.cardSeni {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 300px;
  display: inline-block;
}

.cardSeni .cardImgSeniman {
  max-width: 60%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.cardSeni .namaSeniman {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: var(--color-heading-text);
}
/* End CSS Card Pembuat Website */

/* CSS Card Seniman */
.cardPembuat {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 300px;
  display: inline-block;
}

.cardPembuat .cardImgPembuat {
  max-width: 60%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.cardPembuat .namaPembuat {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: var(--color-heading-text);
}

.cardPembuat .sebagaiPembuat {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text);
}
/* End CSS Card Seniman */

/* Konten Tentang Kami CSS */
.konten-tentang-1 {
  margin: 25px auto;
  max-width: 1220px;
  width: 100%;
  padding: 20px;
  background: white;
  text-align: center;
  border: solid 1px rgb(223, 223, 223);
  border-radius: 30px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.konten-tentang-1 img {
  max-width: 100%;
  height: auto;
  float: left;
  margin-top: 10px;
}

.konten-tentang-1 h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-heading-text);
  margin-top: 30px;
  text-align: center;
}

.konten-tentang-1 p {
  font-size: 1.125rem;
  color: var(--color-text);
  font-weight: 500;
  text-align: left;
  margin-top: 1rem;
}

.konten-tentang-2 {
  margin: 25px auto;
  max-width: 1220px;
  width: 100%;
  padding: 20px;
  background: white;
  text-align: center;
  border: solid 1px rgb(223, 223, 223);
  border-radius: 30px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.konten-tentang-2 img {
  max-width: 100%;
  height: auto;
  float: left;
  margin-top: 10px;
}

.konten-tentang-2 h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-heading-text);
  margin-top: 30px;
  text-align: center;
}

.konten-tentang-2 p {
  font-size: 1.125rem;
  color: var(--color-text);
  font-weight: 500;
  text-align: left;
  margin-top: 1rem;
}

.profil-pembuat {
  margin: 25px auto;
  max-width: 1220px;
  width: 100%;
  padding: 30px;
  background: white;
  text-align: center;
  border: solid 1px rgb(223, 223, 223);
  border-radius: 30px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.profil-pembuat h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-heading-text);
  text-align: center;
  margin-bottom: 10px;
}

.profil-pembuat .row.justify-content-center {
  width: 100%;
  margin: 0 auto;
}

.hubungi-kami {
  margin: 25px auto;
  max-width: 1220px;
  width: 100%;
  padding: 20px;
  background: white;
  text-align: center;
  border: solid 1px rgb(223, 223, 223);
  border-radius: 30px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.hubungi-kami img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.hubungi-kami h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-heading-text);
  text-align: center;
  margin-top: 20px;
}

.hubungi-kami h3 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 600;
}

.hubungi-kami .form-hub {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-hub {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  width: 100%;
  height: 53px;
}

.label-hub {
  color: var(--color-heading-text);
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

.input-hub-pesan {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  width: 100%;
  height: 100px;
}

#btn_hub {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 113px;
  margin-bottom: 20px;
  display: block;
  margin: 0 auto;
}

#btn_hub:hover {
  background-color: #6b52a4;
}
/* End Konten Tentang Kami CSS */

/* Konten Pameran CSS */
.konten-pameran {
  margin: 25px auto;
  max-width: 1220px;
  width: 100%;
  padding: 20px;
  background: white;
  text-align: center;
  border: solid 1px rgb(223, 223, 223);
  border-radius: 30px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.konten-pameran h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-heading-text);
  margin-top: 20px;
  text-align: center;
}

#heading-trending {
  margin-top: 70px;
}

/* Card Pameran CSS */
.slider-pameran {
  margin-bottom: 30px;
}

.card-pameran img {
  display: block;
  width: 100%;
}

.intro h2 {
  color: var(--color-heading-text);
  font-size: 20px;
  text-align: center;
  /* visibility: hidden;
  opacity: 0; */
}

.intro p {
  color: var(--color-text);
  font-size: 14px;
  text-align: center;
  /* visibility: hidden;
  opacity: 0; */
}

/* .intro {
  border-radius: 30px;
  margin-left: 15px;
  text-align: left;
  height: auto;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  background: rgb(27, 27, 27, 0.5);
}

.slider-pameran:hover .intro {
  height: 230px;
}

.slider-pameran:hover h2 {
  opacity: 1;
  visibility: visible;
}

.slider-pameran:hover p {
  opacity: 1;
  visibility: visible;
} */

.slider-pameran .card-pameran:hover {
  cursor: pointer;
}
/* End Card Pameran CSS */
/* End Konten Pameran CSS */

/* CSS Seniman */
.profil-seniman {
  margin: 25px auto;
  max-width: 1220px;
  width: 100%;
  padding: 30px;
  background: white;
  text-align: center;
  border: solid 1px rgb(223, 223, 223);
  border-radius: 30px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.profil-seniman .row.justify-content-center {
  width: 100%;
  margin: 0 auto;
}
/* End CSS Seniman */

/* CSS Galeri */
.galeri {
  margin: 25px auto;
  max-width: 1220px;
  width: 100%;
  padding: 30px;
  background: white;
  text-align: center;
  border: solid 1px rgb(223, 223, 223);
  border-radius: 30px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.galeri img {
  max-width: 100%;
  height: auto;
}
/* End CSS Galeri */

/* CSS Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  color: white;
  padding: 0 20px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  flex-shrink: 0;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-mopart-footer {
  margin-left: 20px;
  width: 130px;
  height: 40px;
}

.icon-social {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
  margin-left: 20px;
}

.icon-social a {
  text-decoration: none;
}

.logo-github,
.logo-ig,
.logo-fb {
  width: 34px;
  height: 35px;
  margin-left: 0;
}

.text-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 10px;
  padding-right: 20px;
}

.text {
  color: white;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}

@media (max-width: 868px) {
  .footer {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }

  .logo-container {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
  }

  .text-container {
    justify-content: center;
    padding-right: 0;
  }

  .text {
    text-align: center;
  }

  .btn_ls {
    margin-left: 0px;
  }
}
/* End CSS Footer */
